.featured {
    margin: rem(50) 0 rem(-10) 0;

    &__title {
        margin-bottom: rem(50);
    }

    &__text {
        @include size(8);
        @include size-sm(12);
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    &__tiles {
        @include row-flex();
        justify-content: center;
        margin-top: rem(50);
        margin-right: 0;
        margin-left: 0;
    }

    &__tile {
        @include col();
        @include size(4);
        @include size-lg(4);
        @include size-md(6);
        @include size-sm(12);
        @include size-xs(12);
        margin-bottom: rem(60);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 2px rgba(0, 0, 0, 0);
        transition-duration: 0.3s;

        &:hover, 
        &:focus, 
        &:active {
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
            transform: scale(1.02);
          }
    }
}
