@font-face {
    font-family: 'GothamReg';
    src: url("../../fonts/GothamPro.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GothamMedium';
    src: url("../../fonts/GothamPro-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBold';
    src: url("../../fonts/GothamPro-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url("../../fonts/Georgia-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima';
    src: url("../../fonts/ProximaNova-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
